<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Login-Reportes{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('assets/bootstrap/css/bootstrap.min.css')}}">
            <style>
                body { 
                    background: url('{{asset('assets/img/login-image.jpg')}}') no-repeat center center fixed; 
                    -webkit-background-size: cover;
                    -moz-background-size: cover;
                    -o-background-size: cover;
                    background-size: cover;
                    }
            </style>
        {% endblock %}
    </head>
    <body>
    
            {% block body %}
            
            {% endblock %}
    
        
        {% block javascripts %}
            <script src="{{asset('assets/bootstrap/js/jquery-3.4.1.slim.min.js')}}"></script>
            <script src="{{asset('assets/bootstrap/js/popper.min.js')}}"></script>
            <script src="{{asset('assets/bootstrap/js/bootstrap.min.js')}}"></script>
        {% endblock %}
    </body>
</html>


